{% extends "base.html" %}

{% block title %}Join - YDSA UAB{% endblock %}

{% block content %}
  <main>
    <section>
      <article>
        <h1>How To Join</h1>
        <p>Interested in joining the UAB YDSA chapter? Fill out the form below to sign up for our newsletter to stay up to date on upcoming events! After signing up you will also receive the link to join our GroupME.</p>
      </article>
    </section>
    <section id="sign-up-form">
      <div class="container">
        <form method="post" class="form">
          <h2>Sign Up Below</h2>
          {{ form.hidden_tag() }}

          <div class="field">
            <label for="{{ form.name.id }}">Name</label>
            {{ form.name(class="input", placeholder="First and Last name") }}
            {% for e in form.name.errors %}<small class="error">{{ e }}</small>{% endfor %}
          </div>

          <div class="field">
            <label for="{{ form.email.id }}">UAB Email</label>
            {{ form.email(class="input", placeholder="you@uab.edu") }}
            {% for e in form.email.errors %}<small class="error">{{ e }}</small>{% endfor %}
          </div>

          <div class="field checkbox">
            <label>
              {{ form.wants_newsletter() }}
              Add me to the newsletter for upcoming events
            </label>
          </div>

          <!-- Honeypot (hidden) -->
          {{ form.website(value="", style="display:none") }}

          {{ form.submit(class="btn submit-btn") }}
        </form>
        <img src="{{ url_for('static', filename='img/ydsauablogo.webp') }}" alt="YDSA UAB" >
      </div>
    </section>
  </main>
{% endblock %}
