<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/37d443352e.js" crossorigin="anonymous"></script>
    <meta name='description' content='Everything to do with the YDSA chapter located at the University of Alabama at Birmingham.'>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav id="main-nav">
            <div class="container">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/ydsauablogo.webp') }}" alt="YDSA UAB" class="logo"></a>
                <div class="social">
                    <!-- <a href="put twitter link here" target="_blank"><i class="fab fa-twitter fa-2x"></i></a> -->
                    <a href="https://www.instagram.com/ydsauab/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="https://www.facebook.com/uabydsa/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                </div>
                <ul>
                    <li><a href="{{ url_for('home') }}" class="{% if active_page == 'home' %}current{% endif %}">Home</a></li>
                    <li><a href="{{ url_for('about') }}" class="{% if active_page == 'about' %}current{% endif %}">About</a></li>
                    <li><a href="{{ url_for('join') }}" class="{% if active_page == 'join' %}current{% endif %}">Join</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="layout">
        <article>
            {% block content %}{% endblock %}
        </article>

        <aside id="sidebar" role="complementary">
            <section>
            <h1>Keep In Touch</h1>
            <ul>
                <li><a class="side-link" href="https://twitter.com/YDSA_">Twitter</a></li>
                <li><a class="side-link" href="https://www.instagram.com/ydsauab/">Instagram</a></li>
                <li><a class="side-link" href="https://www.facebook.com/uabydsa/">Facebook</a></li>
            </ul>
            </section>
            <section>
            <h1>Useful Links</h1>
            <ul>
                <li><a class="side-link" href="https://bhamdsa.org/">BHAM DSA</a></li>
                <li><a class="side-link" href="https://y.dsausa.org/">YDSA Main Site</a></li>
                <li><a class="side-link" href="https://calendar.uab.edu/group/young_democratic_socialists_of_america-uab">UAB YDSA Calendar</a></li>
            </ul>
            </section>
        </aside>
        </section>
    </main>
    <footer>
        <nav id="foot-nav">
            <div class="container">
                <ul>
                    <h2>Navigation</h2>
                    <li><a href="{{ url_for('home') }}">Home</a></li> 
                    <li><a href="{{ url_for('about') }}">About</a></li> 
                    <li><a href="{{ url_for('join') }}">Join</a></li> 
                </ul>
                <ul>
                    <h2>Keep In Touch</h2>
                    <li><a href="{{ url_for('home') }}">Home</a></li> 
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                </ul>
                <ul>
                    <h2>Other Useful Links</h2>
                    <li><a href="{{ url_for('home') }}">Home</a></li> 
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                </ul>
                <ul>
                    <h2>Contact</h2>
                    <li class="foot-nav-space"></li>
                    <li>
                        <p>
                        You can reach a member of YDSA UAB through social media, a club meeting, or email.
                        </p>
                    </li>
                    <li class="foot-nav-space"></li>
                    <li>
                        <p>
                            <Strong><u>YDSA Contact Email:</u></Strong> <email>genericemail@ydsauab.com</email>
                        </p>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
</body>
</html>
